@import "tailwindcss";

@theme inline {
  --color-space: #f9fafb;
  --color-primary: #f59d0e;
  --color-background-pri: #ffffff;
  --color-background-sec: #9da4b226;
  --color-background-ter: #9da4b259;
  --color-dark-pri: #1a1a1a;
  --color-dark-sec: #677289;
  --color-dark-destruct: #ef494f;
  --color-border: #e1e1e1;

  --shadow-fillout: 0px 1px 3px 0px rgba(0, 0, 0, 0.04),
    0px 1px 1px 0px rgba(0, 0, 0, 0.02);
}

@layer utilities {
  html {
    --scrollbar-color: #00000032;
    -webkit-tap-highlight-color: transparent;
    scrollbar-gutter: stable;
    scrollbar-color: var(--scrollbar-color) transparent;
    scrollbar-width: thin;
  }

  .thin-scroll {
    -webkit-tap-highlight-color: transparent;
    scrollbar-gutter: stable;
    scrollbar-color: #ffffff32 transparent;
    scrollbar-width: thin;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
